/API/NetCoreAPI/bin
/API/Bussiness/bin
/API/Entity/bin
/API/IService/bin
/API/Common/bin
/API/Service/bin
/API/NetCoreAPI/obj
/API/Bussiness/obj
/API/Entity/obj
/API/IService/obj
/API/Common/obj
/API/Service/obj
/API/Authorization/obj
/API/Authorization/bin
/API/Authorization/obj
/API/Log/obj
/API/Log/bin
/API/SqlSugar/bin
/API/SqlSugar/obj
/API/WeChat/bin
/API/WeChat/obj
/API/Authorization/bin/NetCoreAPI/Upload